.noOrder-container {
  text-align: center;
  padding: 20px;
}
.ordernow-button {
  background-color: transparent;
  background-color: #f7931e;
  border-radius: 8px;
  border-color: transparent;
  padding: 6px;
  color: #ffffff;
  margin-bottom: 10px;
}
.your-cart-name {
  text-align: center;
}
.emp-cart-image {
  width: 100%;
}
.no-order {
  color: #1e293b;
}
