.home-bg-container {
  background-color: #ffffff;
}
.home-container {
  padding-top: 10px;
}
.home-section {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 560px) {
  .home-section {
    padding-left: 0px;
    padding-right: 0px;
  }
  .hr-line-home {
    display: none;
  }
  .home-container-resta {
    margin: 17px;
  }
}

.pop-rest {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;

  color: #183b56;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.loading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.selectfav-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Light / blue-gray / 600 */

  color: #475569;
  padding-top: 0px;
  margin-top: 0px;
}

@media (max-width: 560px) {
  .selectfav-sort {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    /* identical to box height, or 150% */

    /* Light / blue-gray / 600 */

    color: #475569;
    padding-top: 0px;
    margin-top: 0px;
    margin: 0px;
    padding: 0px;
  }
}
.ul-all-restaurants {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.all-restaurants-names-container {
  padding-top: 20px;
}
.left-right-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.para-pages {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  text-align: center;

  /* Light / blue-gray / 700 */

  color: #334155;
  padding-right: 10px;
}
.arrow-icons {
  font-size: 20px;
}
.left-right-buttons {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
.offers-ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
@media (max-width: 560px) {
  .container {
    list-style-type: none;
    padding-right: 0px;
    margin-right: 0px;
    margin: 0px;
    padding: 0px;
  }
}
.sort-select {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-element {
  outline: none;
  background-color: transparent;
  border-color: transparent;
  font-size: 15px;
}
@media (max-width: 560px) {
  .select-element {
    outline: none;
    border-color: transparent;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 19px;
  }
  .select-fav {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .sort-select {
    display: flex;
    flex-direction: row;
    font-size: 19px;
  }
}
